/* Add CSS Styling */
.oddNumberedElements {
    background-color: pink;
    font-family: Verdana 'Dejavu Sans' sans-serif;
}
#secondElement{
    color: blue;
    font-size: 36px;
}

#fourthElement {
    background-color: lightgreen;
    font-weight: bold;
}
.fontSizeAdjusted {
    font-size: 24px;
}